.banner {
	position: relative;
}

.banner__inner {
	height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
}

.bannerFirst {
	background-image: url("../images/banner1.jpg");
	background-position-x: -160px;
}

.bannerSecond {
	background-image: url("../images/banner2.jpg");
	background-position-x: -375px;
}

.slick-dots {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 30px;
	height: 25px;
	bottom: 20px;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

.slick-dots li {
	display: inline-block;
	margin-right: 5px;
}

.slick-dots li button {
    border: none;
    padding: 0;
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #9a9a9a;
}

.slick-dots li button:focus {
	outline: none;
}

.slick-dots li.slick-active button {
	background-color: #000;
}

.new {
	padding: 30px 0 30px 0;
	margin: 0 auto;
	font-size: 21px;
	text-transform: uppercase;
	text-align: center;
}

.new__position {
	margin-bottom: 40px;
}

.desktop {
	display: none;
}

.imageBlock {
	margin-bottom: 30px;
	font-size: 0;
}

.imageBlock img {
	width: 100%;
	height: auto;
}

.priseText {
	text-align: center;
	line-height: 1.4;
}

.description__text {
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
}

.btn__go {
	text-align: center;
}

.btn__go a {
	display: inline-block;
	padding: 10px;
	border: 1px solid;
	font-size: 15px;
	color: #b0ac9c;
	text-decoration: none;
	text-transform: uppercase;

}

.sale__block {
	padding: 45px 0 45px 0;
	font-size: 0;
}

.sale__image {
	position: relative;
}

.imageWoman {
	width: 100%;
	height: auto;
}

.sale__link {
	position: absolute;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80px;
    height: 25px;
	font-size: 24px;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 8px;
}

.footer {
	padding: 35px 0 40px 0;
	background-color: #000;
}

.footer__main {
	display: inline-block;
	margin-bottom: 35px;
	width: 100%;
}

.footer__left {
	float: left;
	width: 50%;
}

.footer__menu {
	vertical-align: top;
	font-size: 15px;
}

.footer__contacts {
	display: inline-block;
	vertical-align: top;
}

.menu__list {
	margin-bottom: 17px;
}

.menu__list a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

.title {
	color: #fff;
	text-transform: uppercase;
}

.contact__email{
	margin: 0;
}

.contact__email a {
	text-transform: none;
}

.footer__cp {
	color: #fff;
	font-size: 15px;
}

.footer__cp a {
	color: #fff;
}

.footer__right {
	float: left;
	text-align: right;
	width: 50%;
	font-size: 15px;
}

.footer__btn {
	display: inline-block;
	padding: 9px;
	border: 1px solid;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

@media screen and (min-width: 480px) {
	.banner__inner {
		height: 390px;
	}

	.bannerFirst {
		background-position-x: -220px;
	}

	.bannerSecond {
		background-position-x: -185px;
	}

	.new {
		font-size: 24px;
	}

	.description__text {
		font-size: 18px;
	}

	.btn__go a {
		padding: 15px;
		font-size: 18px;
	}

	.footer__menu {
		font-size: 18px;
	}

	.footer__right {
		font-size: 18px;
	}

	.footer__cp {
		font-size: 18px;
	}

	.footer__btn {
		padding: 15px;
	}
}

@media screen and (min-width: 768px) {
	.bannerFirst {
		background-position-x: -175px;
	}

	.bannerSecond {
		background-position-x: inherit;
	}

	.new {
		font-size: 18px;
	}

	.new__position{
		margin-bottom: 35px;
	}

	.slides__item {
		padding:0 15px 0 15px;
		float: left;
		width: 33.3333%;
	}

	.imageBlock {
		margin-bottom: 30px;
		font-size: 0;
	}

	.desktop {
		display: block;
	}

	.description__text {
		font-size: 14px;
	}

	.line-through {
		text-decoration: line-through;
	}

	.btn__go a {
		font-size: 14px;
	}

	.footer {
		padding: 35px 0 30px 0;
	}

	.footer__left {
		width: 75%;
	}

	.footer__right {
		width: 25%;
		font-size: 12px;
	}

	.footer__main {
		margin-bottom: 30px;
	}

	.footer__menu-list {
		float: left;
	}

	.menu__list {
		margin-bottom: 10px;
	}

	.marginReset {
		margin: 0;
	}

	.footer__contacts-list {
		float: left;
	}

	.footer__menu {
		float: left;
		display: block;
		width: 33.3333%;
		padding-right: 30px;
		font-size: 12px;
	}

	.footer__menu:last-child {
		padding-right: 0;
	}

	.footer__cp {
		font-size: 12px;
	}
}

@media screen and (min-width: 992px) {
	.bannerFirst {
		background-position-x: inherit;
	}
}