.hedrer__top {
	padding: 15px 0 15px 0;
	font-size: 0;
}

.left {
	display: block;
	margin-bottom: 8px;
}

.left a {
	margin-left: 5px;
	font-size: 14px;
	color: #000;
	text-decoration: none;
}

.left:before {
	display: inline-block;
	width: 21px;
	height: 13px;
	content: "";
	background: url("../images/mail.png");
}

.right {
	display: block;
}

.center {
	display: none;
}

.account {
	display: inline-block;
	width: 70%;
}

.account a {
	margin-left: 8px;
	font-size: 14px;
}

.account:before {
	display: inline-block;
	width: 24px;
	height: 9px;
	content: "";
	background: url("../images/key.png");
}

.account a {
	color: #000;
	text-decoration: none;
}

.lang {
	display: inline-block;
	width: 30%;
	text-align: right;
}

.location__item {
	display: inline-block;
}

.location__item a {
	margin-right: 3px;
	font-size: 14px;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
}

.location__item:after {
	margin-right: 3px;
	font-size: 14px;
	content: "|";
	color: #000;
}

.location__item:last-child:after {
	display: none;
}

.header__bottom {
	position: relative;
	padding: 20px 0 20px 0;
	background-color: #000;
}

.header__bottomLeft {
	float: left;
	width: 70%;
}

.lines {
	display: inline-block;
	padding-top: 5px;
}

.logo {
	display: inline-block;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	width: 117px;
	height: 28px;
}

.logo img {
	width: 100%;
	height: auto;
}

.header__menu {
	position: absolute;
	text-align: center;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
	z-index: 2;
}

.header__menu-list {
	display: block;
	padding: 18px 0 18px 0;
}

.menu__item a {
	display: block;
	padding: 18px 0 18px 0;
	font-size: 15px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

.header__bottomRight {
 	float: right;
 	width: 30%;
 	text-align: right;
}

.search {
	display: none;
}

.basket {
	
}

.basket a {
	color: #fff;
	text-decoration: none;
}

.banner {
	position: relative;
	z-index: 1;
}

.banner__inner {
	height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
}

.bannerFirst {
	background-image: url("../images/banner1.jpg");
	background-position-x: -160px;
}

.bannerSecond {
	background-image: url("../images/banner2.jpg");
	background-position-x: -375px;
}

.slick-dots {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 30px;
	height: 25px;
	bottom: 20px;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

.slick-dots li {
	display: inline-block;
	margin-right: 5px;
}

.slick-dots li button {
    border: none;
    padding: 0;
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #9a9a9a;
}

.slick-dots li button:focus {
	outline: none;
}

.slick-dots li.slick-active button {
	background-color: #000;
}

.thumbnail {
	padding: 26px 0 26px 0;
}

.new {
	margin: 0 auto 26px auto;
	font-size: 21px;
	text-transform: uppercase;
	text-align: center;
}

.new__position {
	margin-bottom: 40px;
}

.desktop {
	display: none;
}

.imageBlock {
	margin-bottom: 30px;
	font-size: 0;
}

.imageBlock img {
	width: 100%;
	height: auto;
}

.priseText {
	text-align: center;
	line-height: 1.4;
}

.description__text {
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
}

.btn__go {
	text-align: center;
}

.btn__go a {
	display: inline-block;
	padding: 10px;
	border: 1px solid;
	font-size: 15px;
	color: #b0ac9c;
	text-decoration: none;
	text-transform: uppercase;

}

.sale__block {
	padding: 45px 0 45px 0;
	font-size: 0;
}

.sale__image {
	position: relative;
}

.imageWoman {
	width: 100%;
	height: auto;
}

.sale__link {
	position: absolute;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80px;
    height: 25px;
	font-size: 24px;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 8px;
}

.footer {
	padding: 35px 0 40px 0;
	background-color: #000;
}

.footer__main {
	display: inline-block;
	margin-bottom: 35px;
	width: 100%;
}

.footer__left {
	float: left;
	width: 50%;
}

.footer__menu {
	vertical-align: top;
	font-size: 15px;
}

.footer__contacts {
	display: inline-block;
	vertical-align: top;
}

.menu__list {
	margin-bottom: 17px;
}

.menu__list a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

.title {
	color: #fff;
	text-transform: uppercase;
}

.contact__email{
	margin: 0;
}

.contact__email a {
	text-transform: none;
}

.footer__cp {
	color: #fff;
	font-size: 15px;
}

.footer__cp a {
	color: #fff;
}

.footer__right {
	float: left;
	text-align: right;
	width: 50%;
	font-size: 15px;
}

.footer__btn {
	display: inline-block;
	padding: 9px;
	border: 1px solid;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

@media screen and (min-width: 480px) {
	.header__bottom {
		padding: 25px 0 25px 0;
	}

	.left {
		float: left;
		width: 50%;
	}

	.left a {
		margin-left: 13px;
	}

	.right {
		float: right;
		width: 50%;
	}

	.header__menu-list {
		padding: 25px 0 25px 0;
	}

	.menu__item a {
		padding: 25px 0 25px 0;
		font-size: 18px;
	}

	.account {
		width: 60%;
		text-align: right;
	}

	.location__item a {
		margin-right: 5px;
	}

	.location__item:after {
		margin-right: 5px;
	}

	.lang {
		width: 40%;
		text-align: right;
	}

	.banner__inner {
		height: 390px;
	}

	.bannerFirst {
		background-position-x: -220px;
	}

	.bannerSecond {
		background-position-x: -185px;
	}

	.new {
		font-size: 24px;
	}

	.description__text {
		font-size: 18px;
	}

	.btn__go a {
		padding: 15px;
		font-size: 18px;
	}

	.footer__menu {
		font-size: 18px;
	}

	.footer__right {
		font-size: 18px;
	}

	.footer__cp {
		font-size: 18px;
	}

	.footer__btn {
		padding: 15px;
	}
}

@media screen and (min-width: 768px) {
	.lines {
		display: none;
	}

	.logo {
		position: inherit;
		margin-right: 35px;
	}

	.header__menu {
		position: inherit;
		display: inline-block;
		width: auto;
		text-align: left;
	}

	.header__menu-list {
		display: inline-block;
		padding: 0;
	}

	.menu__item {
		display: inline-block;
		padding-right: 40px;
	}

	.menu__item:last-child {
		padding-right: 0;
	}

	.menu__item a {
		display: inline-block;
		padding: 0;
		font-size: 14px;
	}

	.search {
		display: inline-block;
		margin-right: 20px;
	}

	.basket {
		display: inline-block;
	}

	.bannerFirst {
		background-position-x: -175px;
	}

	.bannerSecond {
		background-position-x: inherit;
	}

	.thumbnail {
		padding: 30px 0 30px 0;
	}

	.new {
		margin: 0 auto 30px auto;
		font-size: 18px;
	}

	.new__position{
		margin-bottom: 35px;
	}

	.slides__item {
		padding:0 15px 0 15px;
		float: left;
		width: 33.3333%;
	}

	.imageBlock {
		margin-bottom: 30px;
		font-size: 0;
	}

	.desktop {
		display: block;
	}

	.description__text {
		font-size: 14px;
	}

	.line-through {
		text-decoration: line-through;
	}

	.btn__go a {
		font-size: 14px;
	}

	.footer {
		padding: 35px 0 30px 0;
	}

	.footer__left {
		width: 75%;
	}

	.footer__right {
		width: 25%;
		font-size: 12px;
	}

	.footer__main {
		margin-bottom: 30px;
	}

	.footer__menu-list {
		float: left;
	}

	.menu__list {
		margin-bottom: 10px;
	}

	.marginReset {
		margin: 0;
	}

	.footer__contacts-list {
		float: left;
	}

	.footer__menu {
		float: left;
		display: block;
		width: 33.3333%;
		padding-right: 30px;
		font-size: 12px;
	}

	.footer__menu:last-child {
		padding-right: 0;
	}

	.footer__cp {
		font-size: 12px;
	}
}

@media screen and (min-width: 992px) {
	.bannerFirst {
		background-position-x: inherit;
	}

	.hedrer__top {
		position: relative;
		z-index: 1;
	}

	.left {
		width: 70%;
	}

	.right {
		width: 30%;
	}

	.center {
		display: block;
		position: absolute;
		right: 0;
		left: 0;
		margin-right: auto;
		margin-left: auto;
		width: 370px;
		height: 15px;
		z-index: 3;
		font-size: 14px;
	}
}